*{
    margin: 0;
    font-family: 'Poppins', sans-serif;


    border: borer-box; /*padding of an element or border size sjpuld be count as height */
}

.border{
    border: 1.25px solid transparent;
}

.border:hover{
    border: 1px solid black;
}

.Name-border{
    width: 10%;
    font-size: 0.85rem;
}

body{
    background-image: url("/EcoMart/images/Background.png");
    background-size: cover;
}
.Anchor{
    text-decoration: none;
}

.Tag{               /*Nav anchor Tag */
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 700;

}




                 /*****          NavBar          ***/
.navbar{
    height: 60px;
    background-color: beige;
    color: #dcc7a1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid green;
}

.nav-logo{
   height: 50px;
   width: 50px;

}

.logo{
     background-image: url("/EcoMart/images/Logo.png");
    background-size: cover;
    height: 70px;
    width: 70px;
}

.EcoMart{           /*Name of Store */
    color: #2e2e2e;
    font-size: 2rem;
    margin-left: 0px;
    font-weight: 550;
}

.add-home{          /*Home Icon*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-products{           /*product Icon*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-research{           /*Research Icon*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-aboutUs{            /*About Icon*/
    display: flex;
    justify-content: center;
    align-items: center;
}


.add-Contact{          /*Contact Icon*/  
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-cart{          /*Cart Icon*/ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cart{              /*Cart*/ 
    color: black;
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 700;
}

                /*****          NavBar Ends Here        ***/

                /*****          Hero Section        ***/
   
.hero-section{
    height: 600px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
}
#first{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#second{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #1B5E20;
}
.hero-p{
    font-size: 1.25rem;
    color: #6B5E57;
    font-weight: 550;
    margin-right: 15px;
}

.shop-now-btn{
    font-size: 20px;
    display: inline-flex;
    justify-content: space-evenly;
    background-color: beige;
    
}

.add-img{
    
    height:500px;
    width: 600px;
    margin-right: 15px;
    background-color: #f3f3f3;
    border-radius: 15px;
}
                /*****          Hero Section Ends Here         ***/

                 /*****          Reason        ***/

                 
.Reason{
    height: 450px;
    background-color: #b1ef9e;
}
                    /*Reason First*/
.Reason-First{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sustain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.statement{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}
                        /*Reason Second*/
.Reason-Second{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.Eco{
    border: 2px solid green;
    height: 80%;
    border-radius: 10px;
    padding: 20px 15px 10px 15px;
    background-color: #F0FFDF;
}
.Eco i{
    font-size: 23px;
    background-color: #E0E0E0;
    border: 4px solid black;
    border-radius: 60px;
    
}

.statement-1{
    font-size: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 550;
    
}
.statement-2{
    font-size:1.2rem ;
    display: flex;
    justify-content: left;
    align-items: center;

}

.Waste{
    border: 2px solid green;
    height: 80%;
    border-radius: 10px;
    padding: 20px 15px 10px 15px;
    background-color: #F0FFDF;
}
.Waste i{
    font-size: 23px;
    background-color: #E0E0E0;
    border: 4px solid black;
    border-radius: 60px;
    
}

.Sourced{
    border: 2px solid green;
    height: 80%;
    border-radius: 10px;
    padding: 20px 15px 10px 15px;
    background-color: #F0FFDF;
}
.Sourced i{
    font-size: 23px;
    background-color: #E0E0E0;
    border: 4px solid black;
    border-radius: 60px;
    
}

